@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
  background-color: black;
}

h1{
  color: white;
  margin: 50px 20px;
  font-family: 'DistorsionadaFont';
  font-size: 80px;
}

main{
  background-color: black;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

a{
  text-decoration: none;
  color: white;
}

.botones{
  transition: all 0.2s linear;
}

.botones:hover{
  font-weight: 700;
  transform: scale(1.05);
}

button{
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid #ffffff;
  padding: 7px 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  transition: all 0.2s linear;
}

button:hover{
  font-weight: 700;
  transform: scale(1.05);
}

div{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 10px;
  gap: 60px;
  justify-content: center;
}